/*!
 * Start Bootstrap - Scrolling Nav (https://startbootstrap.com/templates/scrolling-nav)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-scrolling-nav/blob/master/LICENSE)
 */
header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}
h4 {
  margin: 2rem 0rem 1rem;
}
.text-block {
  position: absolute;
  bottom: 20px;
  right: 100px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.imagehover {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 150%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imagehover:hover .image {
  opacity: 0.3;
}

.imagehover:hover .middle {
  opacity: 1;
}

.text {
  background-color: #008B8B;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}s